  
* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: 'Passion One', cursive;
	font-size: 2em;
	background-color: rgb(194, 255, 81);
}

body:after {
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../image/burger_background.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	width: 100%;
	min-height: 100vh;
	opacity : 0.3;
	z-index: -1;
}

h1 {
	color: green;
	font-size: 2em !important;
}

#page-name {
	text-align: center;
	margin: 10px 0;
}

#main-image {
	height: 100px;
	width: 100px;
	border-radius: 20px;
	border: solid 5px red;
}

.col-left {
	padding-left: 20%;
}

.col-right {
	text-align: left;
}

.table-first-col {
	width: 270px;
}

td {
    height: 50px;
    vertical-align: center;
}

.create-form {
	margin-top: 50px;
	text-align: center;
}